@define-color dark rgba(39, 40, 34, 0.9);
@define-color light #A89984;

* {
  font-family: Caskaydia Cove Nerd Font Propo;
  font-size: 18px;
  color: @light;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
}

window#waybar {
  background-color: @dark;
  border-radius: 8px;
}

.modules-left {
  margin: 5px 5px 5px 5px;
}

#clock {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.module:not(#workspaces):not(#clock):not(#pulseaudio-slider) {
  border-radius: 5px;
}

.module:hover:not(#workspaces):not(#clock):not(#pulseaudio-slider) {
  background: @light;
  color: @dark;
  transition: all 0.15s ease;
}

#workspaces button {
  min-height: 16px;
  background: @light;
  border-radius: 8px;
  margin: 5px 10px;
  padding: 0 0;
  transition: padding 0.15s ease-in-out;
}

#workspaces button.active {
  padding: 20px 0px;
}

#workspaces label {
  font-size: 0px;
  min-height: 0px;
}

@keyframes blink {
  to {
    background-color: @light;
    color: @dark;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: @light;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio-slider {
  margin: 20px 0px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  background-image: none;
  opacity: 0;
}

#pulseaudio-slider trough {
  min-height: 80px;
  min-width: 10px;
  border-radius: 5px;
  background: black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @light;
}
